{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100">
    <div class="container mx-auto mt-10">
        <div class="max-w-lg mx-auto bg-white p-8 rounded-lg shadow-lg">
            <h2 class="text-3xl font-semibold mb-4 text-center">Reset Password</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 transition duration-300 w-full">Reset Password</button>
            </form>
        </div>
    </div>
    <footer class="bg-[#77390c] shadow-md">
        <div class="container mx-auto text-center">
            <p>&copy; 2024 ArtiQuity. All Rights Reserved.</p>
            <a href="#" class="text-white hover:text-gray-300 mx-2">Privacy Policy</a> | 
            <a href="#" class="text-white hover:text-gray-300 mx-2">Terms of Service</a>
        </div>
    </footer>
</body>
</html>
